.modePicker {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.selector {
  width: 130px;
}

.button {
  background: #61dafb;
  border: solid 1px gray;
  border-radius: 5px;
}
